In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('covid19.csv')

In [3]:
data

,fever,cough,bodyPain,diarrhea,pneumonia,soreThroat,runnyNose,malaise,sputum,Breatlessness,fatigue,probabity
0,1,0,0,0,0,0,0,0,0,-1,0,1
1,1,0,0,0,0,0,0,0,0,-1,0,1
2,0,1,1,0,0,0,0,0,0,-1,0,1
3,1,1,0,0,0,0,0,0,0,-1,0,1
4,1,1,0,0,0,0,0,0,0,-1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
3548,1,1,0,0,0,0,1,1,0,-1,0,1
3549,1,0,1,1,0,1,1,0,1,0,0,0
3550,1,1,1,1,0,1,1,0,1,-1,1,0
3551,1,0,0,1,0,1,1,0,0,-1,1,0
3552,0,1,1,1,1,0,1,0,1,1,1,1

In [4]:
data.head()

,fever,cough,bodyPain,diarrhea,pneumonia,soreThroat,runnyNose,malaise,sputum,Breatlessness,fatigue,probabity
0,1,0,0,0,0,0,0,0,0,-1,0,1
1,1,0,0,0,0,0,0,0,0,-1,0,1
2,0,1,1,0,0,0,0,0,0,-1,0,1
3,1,1,0,0,0,0,0,0,0,-1,0,1
4,1,1,0,0,0,0,0,0,0,-1,0,1

In [5]:
data.tail()

,fever,cough,bodyPain,diarrhea,pneumonia,soreThroat,runnyNose,malaise,sputum,Breatlessness,fatigue,probabity
3548,1,1,0,0,0,0,1,1,0,-1,0,1
3549,1,0,1,1,0,1,1,0,1,0,0,0
3550,1,1,1,1,0,1,1,0,1,-1,1,0
3551,1,0,0,1,0,1,1,0,0,-1,1,0
3552,0,1,1,1,1,0,1,0,1,1,1,1

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3553 entries, 0 to 3552
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          3553 non-null   int64
 1   cough          3553 non-null   int64
 2   bodyPain       3553 non-null   int64
 3   diarrhea       3553 non-null   int64
 4   pneumonia      3553 non-null   int64
 5   soreThroat     3553 non-null   int64
 6   runnyNose      3553 non-null   int64
 7   malaise        3553 non-null   int64
 8   sputum         3553 non-null   int64
 9   Breatlessness  3553 non-null   int64
 10  fatigue        3553 non-null   int64
 11  probabity      3553 non-null   int64
dtypes: int64(12)
memory usage: 333.2 KB

In [8]:
data['Breatlessness'].value_counts()

-1    1261
 1    1150
 0    1142
Name: Breatlessness, dtype: int64

In [9]:
data.describe()

,fever,cough,bodyPain,diarrhea,pneumonia,soreThroat,runnyNose,malaise,sputum,Breatlessness,fatigue,probabity
count,3553.000000,3553.000000,3553.000000,3553.000000,3553.000000,3553.000000,3553.000000,3553.000000,3553.000000,3553.000000,3553.000000,3553.000000
mean,0.517872,0.493386,0.478469,0.466366,0.468900,0.461019,0.472840,0.466648,0.475654,-0.031241,0.468337,0.528849
std,0.499751,0.500027,0.499607,0.498938,0.499102,0.498548,0.499332,0.498957,0.499477,0.823284,0.499067,0.499237
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

## TRAIN TEST SPLITTING

In [10]:
import numpy as np

In [13]:
def data_split(data,ratio):
    np.random.seed(63)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_data = shuffled[:test_set_size]
    train_data = shuffled[test_set_size:]
    return data.iloc[train_data],data.iloc[test_data]

In [14]:
train , test = data_split(data,.2)

In [16]:
train

,fever,cough,bodyPain,diarrhea,pneumonia,soreThroat,runnyNose,malaise,sputum,Breatlessness,fatigue,probabity
2542,1,0,0,0,0,1,0,1,1,-1,0,0
3509,0,1,0,0,1,1,1,1,0,1,0,0
2950,1,0,1,1,0,0,1,0,0,1,1,1
2441,0,1,1,1,0,0,1,1,1,0,1,1
2092,0,0,0,0,1,0,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
2386,0,1,0,0,1,0,0,0,0,0,0,1
1239,1,0,1,1,1,1,1,1,1,1,1,0
139,1,0,1,0,0,1,0,0,0,-1,0,1
3188,0,0,1,0,1,0,1,1,1,0,0,0
1068,1,1,1,0,1,0,1,1,0,1,0,1

In [17]:
test

,fever,cough,bodyPain,diarrhea,pneumonia,soreThroat,runnyNose,malaise,sputum,Breatlessness,fatigue,probabity
1916,1,0,0,0,1,1,1,1,0,1,0,0
3392,0,1,1,1,0,0,0,0,0,0,0,0
2723,0,0,0,1,1,1,0,0,1,0,1,1
831,0,0,1,0,1,1,1,1,1,0,1,0
87,1,0,0,0,0,0,0,0,0,-1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1667,1,0,0,1,1,0,1,1,0,0,1,1
1749,1,1,0,0,1,1,1,1,1,1,1,1
1769,1,1,1,1,1,0,1,0,1,-1,0,0
913,0,1,0,0,0,1,0,1,0,-1,1,0
119,1,1,0,0,0,0,0,0,0,-1,0,1

In [25]:
X_train = train[['fever','cough','bodyPain','diarrhea','pneumonia','soreThroat','runnyNose','malaise','sputum','Breatlessness','fatigue']].to_numpy()
X_test = test[['fever','cough','bodyPain','diarrhea','pneumonia','soreThroat','runnyNose','malaise','sputum','Breatlessness','fatigue']].to_numpy()

In [29]:
Y_train = train[['probabity']].to_numpy().reshape(2843 ,)
Y_test = test[['probabity']].to_numpy().reshape(710 ,)

In [30]:
Y_train

array([0, 0, 1, ..., 1, 0, 1], dtype=int64)

In [31]:
from sklearn.linear_model import LogisticRegression

In [33]:
clf = LogisticRegression()
clf.fit(X_train,Y_train)

LogisticRegression()

In [40]:
inputFeatures = [0,0,0,0,0,0,0,0,0,-1,0]
probInfo = clf.predict_proba([inputFeatures])[0][1]

In [41]:
probInfo

0.6822086837099871